.search {
  margin-top: 86px;
}

.movies__content__less {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 0;
}
